<footer role="contentinfo" class="footer">
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <p>
    <small>© {{date format="YYYY"}}·蜀ICP备18036663号</small>
    ·
    <span id="busuanzi_container_page_pv"><small>本页总阅读量</small><span id="busuanzi_value_page_pv"></span><small>次</small></span>
    ·
    <span id="busuanzi_container_site_pv"><small>本站总访问量</small><span id="busuanzi_value_site_pv"></span><small>次</small></span>
    ·
    <span id="busuanzi_container_site_uv"><small>本站总访客数</small><span id="busuanzi_value_site_uv"></span><small>人</small></span>
  </p>
</footer>
