{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://dpjeep.com/archives/" data-pjax>
    <i class="fa fa-list"></i>Archives
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://dpjeep.com/about-me/" target="_blank">
    <i class="fa fa-child"></i>About Me
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="https://weibo.com/u/2137028445" target="_blank">
    <i class="fa fa-weibo"></i>Weibo
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/pingdai" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
