.archives h3 {
    font-family: monospace;
    font-size: 15px;
    margin: 4px 0 0 -120px;
    float: left
}

.archives-list {
    list-style: none;
    font-size: 14px;
    line-height: 20px
}

.archives-list li {
    padding: 3px 0;
    overflow: hidden
}

.archives-list time {
    margin-right: 5px;
    color: #999;
    display: inline-block;
    width: 35px;
    font-family: monospace
}

.archives-title {
    display: inline-block;
    padding: 5px 20px;
    background: #eee;
    border-bottom: 3px solid #ccc
}

.closeslide {
    flex: 1
}